<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

   <h:head>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
</style>
</h:head>
<h:body>

<div class="header">
  <h1>My Website</h1>
  <p>Descripción de la aplicacion</p>
</div>


  <h:form>
        <p:growl id="messages"/>

        <p:menubar>
            <p:submenu label="Libro" icon="pi pi-fw pi-file">
                <p:submenu label="New" icon="pi pi-fw pi-plus">
                    <p:menuitem value="Bookmark" icon="pi pi-fw pi-bookmark"/>
                    <p:menuitem value="Video" icon="pi pi-fw pi-video"/>
                </p:submenu>
           
                <p:menuitem value="Agregar Nuevo Libro" icon="pi pi-fw pi-trash" action="/pages/AddLibro.xthml"/>
                <p:menuitem value="Ir a Biblioteca" icon="pi pi-fw pi-trash" action="/pages/TablaLibros.xthml"/>
            
            </p:submenu>

            <p:submenu label="Autor" icon="pi pi-fw pi-pencil">
             <p:menuitem value="Agregar Nuevo Autor" icon="pi pi-fw pi-trash" action="/pages/AddAutor.xthml"/>
              <p:menuitem value="Ver Autores" icon="pi pi-fw pi-trash" action="/pages/TablaAutor.xthml"/>
            </p:submenu>
             <p:submenu label="Categoria" icon="pi pi-fw pi-pencil">
             <p:menuitem value="Agregar Nueva Categoria" icon="pi pi-fw pi-trash" action="/pages/AddCategoria.xthml"/>
               <p:menuitem value="Ver Categorias" icon="pi pi-fw pi-trash" action="/pages/TablaCategoria.xthml"/>
             </p:submenu>
           
            
             <p:submenu label="Puesto" icon="pi pi-fw pi-pencil">
             <p:menuitem value="Agregar Nuevo Puesto" icon="pi pi-fw pi-trash" action="/pages/AddPuesto.xthml"/>
              <p:menuitem value="Ver puestos" icon="pi pi-fw pi-trash" action="/pages/TablaPuesto.xthml"/>
            </p:submenu>
            <p:submenu label="Empleado" icon="pi pi-fw pi-pencil">
             <p:menuitem value="Agregar Nuevo Empleado" icon="pi pi-fw pi-trash" action="/pages/AddEmpleado.xthml"/>
               <p:menuitem value="Ver Empleados" icon="pi pi-fw pi-trash" action="/pages/TablaEmpleado.xthml"/>
            </p:submenu>
            <p:submenu label="Usuario" icon="pi pi-fw pi-pencil">
             <p:menuitem value="Agregar Nuevo Usuario" icon="pi pi-fw pi-trash" action="/pages/AddUsuario.xthml"/>
               <p:menuitem value="Ver Usuarios" icon="pi pi-fw pi-trash" action="/pages/TablaUsuario.xthml"/>
            </p:submenu>
            
            
             <p:submenu label="Prestamos" icon="pi pi-fw pi-pencil">
             <p:menuitem value="Realizar Prestamo" icon="pi pi-fw pi-trash" action="/pages/AddPrestamo.xthml"/>
               <p:menuitem value="Ver prestamos" icon="pi pi-fw pi-trash" action="/pages/TablaPrestamo.xthml"/> 
            </p:submenu>
            <p:submenu label="Users" icon="pi pi-fw pi-user">
                <p:menuitem value="New" icon="pi pi-fw pi-user-plus"/>
                <p:menuitem value="Delete" icon="pi pi-fw pi-user-minus"/>
                <p:submenu label="Search" icon="pi pi-fw pi-users">
                    <p:submenu label="Filter" icon="pi pi-fw pi-filter">
                        <p:menuitem value="Print" icon="pi pi-fw pi-print"/>
                    </p:submenu>
                    <p:menuitem value="List" icon="pi pi-fw pi-bars"/>
                </p:submenu>
            </p:submenu>

            <p:submenu label="Events" icon="pi pi-fw pi-calendar">
                <p:submenu label="Edit" icon="pi pi-fw pi-pencil">
                    <p:menuitem value="Save" icon="pi pi-fw pi-calendar-plus"/>
                    <p:menuitem value="Delete" icon="pi pi-fw pi-calendar-minus"/>
                </p:submenu>
                <p:submenu label="Archieve" icon="pi pi-fw pi-calendar-times">
                    <p:menuitem value="Remove" icon="pi pi-fw pi-calendar-minus"/>
                </p:submenu>
            </p:submenu>

       

            <p:menuitem value="Quit" icon="pi pi-fw pi-power-off"/>

          
        </p:menubar>
    </h:form>


<div class="row">
  <div class="leftcolumn">
    <div class="card">
    <ui:insert name="contenido"/>
    </div>
    
  </div>
</div>
    <div class="rightcolumn">
    <div class="card">
      <h2>Información generales.</h2>
    </div>
  </div>


<div class="footer">
  <h2>Pie de la app</h2>
</div>

</h:body>

</html>
    