<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Nuevo Puesto</h2>
       
    <h:form id="form-agregar">
           
           <p:panel id="panl" header="Agregar Puesto">
         <h:panelGrid id="DatoPersonales" columns="3" cellpadding="5">
            
              <h:outputLabel for="txtPuesto" value="Puesto:" style="font-weight:bold"/>
              <h:inputText id="txtPuesto" value="#{puestoBean.puesto.puesto}" required="true" label="puesto" requiredMessage="Ingrese puesto" validatorMessage="El puesto solo puede tener alfabetos">
             <f:validateRegex for="txtPuesto" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1.]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1.]+$"/>
            </h:inputText>
            <p:message for="txtPuesto" />
           
 
        </h:panelGrid>
               <p:commandButton value="Agregar" ajax="false" actionListener="#{puestoBean.puestoAgregar()}"/>  
     
    </p:panel>
     </h:form>
       
    </ui:define>
 </ui:composition>
