<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Empleados Registrados</h2>
    
        
        <h:form  id="form-lista">
            <p:dataTable id="tablaEmpleados" var="e" value="#{beanEm.listasEmpleados}">
                <p:column headerText="Id">
                    <h:outputText value="#{e.idEmpleado}" />
                  </p:column>
               <p:column headerText="Nombre">
                   <h:outputText value="#{e.nombre}" />
                </p:column>
                
                <p:column headerText="Apellido">
                    <h:outputText value="#{e.apellido}" />
                </p:column>
                
                <p:column headerText="Dirección">
                    <h:outputText value="#{e.direccion}" />
                </p:column>
                
                <p:column headerText="Teléfono">
                    <h:outputText value="#{e.telefono}" />
                </p:column>
                
                <p:column headerText="Email">
                    <h:outputText value="#{e.email}" />
                </p:column>
                <p:column headerText="Puesto">
                    <h:outputText value="#{e.puesto.idPuesto}" />
                </p:column>
                
                  <p:column headerText="MODIFICAR" style="text-align: center">
                        <p:commandButton icon="ui-icon-pencil" title="Modificar" oncomplete="PF('dialogoModificar').show();" update=":formModificar" actionListener="#{beanEm.obtenerIdSeleccionadoDeTabla(e)}" >
                            <f:setPropertyActionListener target="#{beanEm.empleado}" value="#{e}"/>
                         </p:commandButton>
                    </p:column>


                                       
                </p:dataTable>
            
        </h:form>
        
         <h:form id="formModificar">
                        <p:dialog id="dlgModificar" header="Modificar Empleado" widgetVar="dialogoModificar" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                            <p:panelGrid columns="2" style="margin: 0 auto;">                                
                                <p:outputLabel value="Nombre:"/>
                                <p:inputText value="#{beanEm.empleado.nombre}"/>
                                <p:outputLabel value="Apellido:"/>
                                <p:inputText value="#{beanEm.empleado.apellido}"/>
                                 <p:outputLabel value="Direccion:"/>
                                 <p:inputText value="#{beanEm.empleado.direccion}"/>
                                <p:outputLabel value="Telefono:"/>
                                <p:inputText value="#{beanEm.empleado.telefono}"/>
                                <p:outputLabel value="Email:"/>
                                <p:inputText value="#{beanEm.empleado.email}"/>
                               
                                
                                <p:outputLabel  value="Puesto:"/>
                                <p:selectOneMenu value="#{beanEm.empleado.puesto.idPuesto}" style="font-weight:bold;">
                                <f:selectItems value="#{beanEm.listasPuestos}"  var="p" itemLabel="#{p.puesto}" itemValue="#{p.idPuesto}"/> 
                                </p:selectOneMenu>
                                
                            </p:panelGrid>
                            <p:commandButton  value="Guardar" actionListener="#{beanEm.modificarEmpleado()}" update=":form-lista:tablaEmpleados" oncomplete="PF('dialogoModificar').hide();"/>
                            <p:commandButton  value="Cancelar" onclick="PF('dialogoModificar').hide();"/>
                        </p:dialog>
                    </h:form>
       
    </ui:define>
 </ui:composition>
