<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Usuarios Registrados</h2>
    
        
        <h:form >
            <p:dataTable id="tablaUsuario" var="u" value="#{bkn_Libro2.listaUsuarios}">
                <p:column headerText="Id">
                    <h:outputText value="#{u.idUsuario}" />
                  </p:column>
               <p:column headerText="Nombre">
                   <h:outputText value="#{u.nombre}" />
                </p:column>
                
                <p:column headerText="Apellido">
                    <h:outputText value="#{u.apellido}" />
                </p:column>
          
                
                <p:column headerText="Teléfono">
                    <h:outputText value="#{u.telefono}" />
                </p:column>
               
               
                <p:column headerText="Estado">
                          <h:outputText value="#{u.estado}" />
                </p:column>



                                       
                </p:dataTable>
            
        </h:form>
       
    </ui:define>
 </ui:composition>