<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Biblioteca</h2>
        
       <h:form id="formListado">
             <p:commandButton value="Refrescar" ajax="false" actionListener="#{bkn_Libro.refrescar()}" styleClass="p-mt-3 ui-button-outlined p-d-block"/> 
           <p:dataTable id="tablaLibros" var="lib" value="#{bkn_Libro.listaLibros}" rows="5" paginator="true">
                <p:column headerText="Id">
                 <h:outputText value="#{lib.idLibro}"/>
                </p:column>
                     <p:column headerText="Titulo">
                         <h:outputText value="#{lib.titulo}" />
                            </p:column>
                            <p:column headerText="Id_Autor">
                                <h:outputText value="#{lib.autor.idAutor}" />
                            </p:column>
                 
                            <p:column headerText="Id_Categoria">
                                <h:outputText value="#{lib.categoria.idCategoria}" />
                            </p:column>
                 
                             <p:column headerText="Anio Edicion">
                                 <h:outputText value="#{lib.anioEdicion}" />
                            </p:column>
                 
                             <p:column headerText="Disponible">
                                 <h:outputText value="#{lib.cantidd}" />
                            </p:column>
                           
                            <p:column>
                                <p:graphicImage value="/Image/#{bkn_Libro.UnioIdMasTitulo(lib)}.jpg"  style="margin-left: 10px;" width="90px" height="90px"/>
                            </p:column>
                
                            <p:column headerText="Visualizar">
                                <p:commandButton value="Ver" icon="ui-icon-zoomin" actionListener="#{bkn_Libro.view(lib)}" ajax="false"/>
                            </p:column>
                           
                          
                   
                </p:dataTable>
           
         </h:form>
        
           
                  
       
                    
                
        
   
    </ui:define>
 </ui:composition>

