<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Puestos</h2>
    
        
        <h:form >
            <p:dataTable id="tablaPuesto" var="p" value="#{puestoBean.listaPuestos}">
                <p:column headerText="Id">
                     <h:outputText value="#{p.idPuesto}" />
                  </p:column>
               <p:column headerText="Puesto">
                  <h:outputText value="#{p.puesto}" />
                </p:column>

                                       
                </p:dataTable>
            <p:commandButton value="Agregar"  actionListener="#{puestoBean.puestoAgregar()}"/>  
        </h:form>
       
    </ui:define>
 </ui:composition>
